#right {
	width:100%;
	margin-bottom:1%
}

#audit_details {
	margin-top:-.6em;
	margin-left:auto;
	margin-right:auto
}

#audit_details td {
	font-size:10pt
}

#top_right {
	height:auto
}

#bottom_right {
	margin-top:1em;
	position:relative
}

#chart_totalfootprint {
	position:relative;
	margin-top:.5em;
	margin-right:1em;
	float:right;
	height:2em;
	min-width:6em
}

#head_ptotal {
	text-align:center;
	margin:.5em
}

#chartAll,#chartAllIn {
	width:98%;
	height:auto;
	margin:1%
}

#chartCategory {
	width:84%;
	height:auto;
	margin:1%
}

.jqplot-table-legend {
	width:10%
}

#chartbtns {
	width:50em;
	margin-right:auto;
	margin-left:auto;
	margin-bottom:.5em
}

.chartbtns_legend {
	font-size:9pt;
	font-weight:700;
	color:#6D6D6D;
	margin-top:.5em;
	margin-bottom:.2em
}

#chartbtns input {
	width:13.7%;
	margin-right:auto;
	margin-left:auto
}

#middle_right {
	display:none;
	margin-top:1em
}

#middle_right_alt {
	border:1px solid #999;
	margin-top:.5em;
	width:16em;
	margin-right:auto;
	margin-left:auto
}

#comparator_btns input {
	width:31.3%;
	margin:1%
}

#bottom_right table {
	width:100%;
	padding:1px
}

th {
	text-align:left;
	height:1.7em;
	background-color:#DDD;
	font-size:95%;
	border-bottom:1px solid #999
}

#bottom_right tr td {
	font-size:95%;
	height:2em
}

#bottom_right tr td {
	border-bottom:1px solid #999;
	border-top:1px solid #999
}

#bottom_right tr td a {
	text-decoration:none
}

#bottom_right tr.alt td {
	background-color:#EEE;
	border-bottom:1px solid #999;
	border-top:1px solid #999
}

#bottom_right tr.over td {
	background-color:#BCD8FC;
	border-bottom:1px solid #47ADC0;
	border-top:1px solid #47ADC0
}

#bottom_right td:first-child {
	width:3em
}

.time_used_info {
	font-size:9pt;
	display:none
}

.location_info {
	display:none
}

.qty,.chart_cat {
	width:3em;
	text-align:center
}

.chart_cat_s1 {
	width:3em;
	text-align:center;
	background-color:#47ADC0
}

.chart_cat_text_s1 {
	font-weight:700;
	color:#47ADC0
}

.amount,.totalkWh,.standby {
	width:6em;
	text-align:center
}

.unit,.perunit {
	width:4.2em
}

#avg {
	width:2em;
	text-align:center
}

#totalfootprint {
	margin-top:.5em;
	float:right;
	height:auto;
	min-width:6em;
	margin-bottom:1em
}

#ptotal {
	text-align:right;
	margin:.2em
}